footer {
  background-color: var(--light-color);
  font-size: var(--body-font-size-xs);
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
}

footer .footer p {
  margin: 0;
}
footer ul{list-style-type: none;padding: 0;margin: 0;}
footer ul li{width: auto;cursor: pointer;}
footer ul li p{font-weight: bold;}
footer ul li a{color: var(--text-color)!important;}
footer ul li a:hover{color: var(--link-color);text-decoration: none; opacity: .75;}
.columns > div{align-items: left!important;}
@media (width >= 900px) {
  footer .footer > div {
    padding: 40px 32px 24px; align-items: left;justify-content: left;
  }
  
}
